body{
    background-color:rgba(240, 255, 240, 0.692);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:rgb(182, 122, 10);
    font-size: 1.5rem;
    padding: 2rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: double underline;
    text-shadow: 3px 3px 7px;
}

.book-shelf{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    row-gap: 2rem;
}


.book-column{
    width: 15rem;
    height: 12rem;
    background-color: #fff;
    padding: 2rem;
    border-radius:0.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 10px 2px #6d6767;
    position: relative;

}

.book-column img{
    padding: 3px;
    width:4rem;
    border: 1px solid #000;
}

/* .book-column button{
    padding:5px 10px;
    background-color: powderblue;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px gray;
} */
#title{
    margin: 1;
    text-align: center;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}
#author{
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 600;
    color: #575151c2;
    margin: 0;
    text-align: center;
}
#stockinfo{
    color: #dd5f5f;
    font-size: .8rem;
    font-weight: 600;
}

#number{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c35600;
    font-weight:700;
    padding: 15px;
    border-radius: 0.5rem 0rem;
}
